/*
 File: github.component.scss
 Author: Gubis Zsombor Dániel
 Copyright: 2023, Gubis ZSombor Dániel
 Group: Szoft_II_N
 Date: 2023-07-07
 Github: https://github.com/Zsomi4/
 Licenc: GNU GPL
*/

#clickGithub {
    text-decoration-color: rgb(0, 149, 255);
    color: rgb(0, 149, 255);
}